h1{
    color: indigo;
}
h3{
    color:#64DFDF;
}
li{
    font-family: 'Noto Serif', serif;
    display: block;
    float: left;
    padding: 30px 10px;
}
ul{
    
    list-style-type: none;
}
ul#navbar{
    background-color: darkolivegreen;
    color: white;
}
.special{
    color:crimson;
}
#one{
    color:fuchsia;
}
a{
    color:white;
    text-decoration: none;
}